img {
  width: 100%;
  height: 100%;
}


.container {
  align-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
}

.item-a {
  grid-column: 1 / 2;
}
.column-right {
  width: 100%;
  text-align: justify;
}
.btn-capital-hide {
  background-color: #777;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: min-content;
}

.btn-capital-show {
  background-color: #2947B6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: min-content;
}